* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #ffffff;
    background: url(../assets/Layer.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.content {
    padding: 10px 40px;
    display: block;
    width: 400px;
    height: 550px;
    background: rgba(30, 33, 34, 0.788);
    box-shadow: 0px 26px 16px -6px rgba(35, 38, 40, 0.757);
}

.content > input {
    display: none;
}

.content > label {
    display: block;
    float: left;
    margin: 20px 15px 5px;
    cursor: pointer;
    padding: 5px 0;
    font-size: 1.4em;
}

.content > label:hover,
.content > input:checked + label {
    border-bottom: 3px solid #f47e16;
}

.content > label:first-of-type {
    margin-left: 0;
}

.tabs {
    clear: both;
}

.tabs > div {
    position: absolute;
    box-sizing: border-box;
    padding: 10px 0 0px;
    line-height: 1.4em;
    opacity: 0;
    z-index: 0;
}

form {
    width: 320px;
    margin-top: -15px;
    position: relative;
    box-sizing: border-box;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > .terms-checkbox {
    align-self: flex-start;
}

.real-checkbox {
	display: none;
}

.custom-checkbox{
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
	width: 16px; 
	height: 16px;
	border: 1px solid rgba(255, 255, 255, 0.398);
	border-radius: 2px;
}

.custom-checkbox,
.label {
	display: inline-block;
	vertical-align: middle;
}

.real-checkbox:checked + .custom-checkbox {
    background: #0a5383;
    border: 1px solid rgba(255, 255, 255, 0.07);
}

.real-checkbox:checked + .custom-checkbox::after {
    content: "\2713";
    display: block;
    position: absolute;
    top: -5px;
    left: 2px;
    width: 16px;
    height: 16px;
    font-size: 14px;
    color: white;
}

form > input {
    box-sizing: border-box;
    background: none;
    border: none;
    border-bottom: 2px solid #ebebeb;
    color: #ffffff;
    display: block;
    width: 100%;
    line-height: 23px;
    margin: 0 auto 40px;
    font-size: 19px;
    padding: 0 6px;
}

input:-moz-ui-invalid {
    box-shadow: none;
}

input::-moz-placeholder {
    color: #ffffff;
    opacity: 0.75;
}
input::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 0.75;
}

.submit-btn {
    margin: 35px auto 10px;
    width: 50%;
    background: #f47e16;
    border: none;
    border-radius: 40px;
}

#sign-in:checked ~ .tabs > div.sign-in-wrapper,
#sign-up:checked ~ .tabs > div.sign-up-wrapper {
    opacity: 1;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .content {
        width: 340px;
    }

    form {
        width: 260px;
        box-sizing: content-box;
    }

    .submit-btn {
        width: 80%;
    }
}

@media screen and (orientation: landscape) {
    body {
        min-height: 700px;
        height: 100vh;
    }
}